.dashboard {
    width: 100%;
    height: 100vh;
}

.dashboard__body {
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.btn__newTask {
    display: inline;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
    color: #2F4858;
    cursor: pointer;
}

.btn__newTask:hover {
    font-size: larger;
}

.today_date {
    text-align: center;
    padding: 1.5rem;
    font-size: xx-large;
}

.taks_list {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.section__add {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addTask {
    width: 40%;
}

.addTask input {
    background-color: #3CBC8D;
    padding: 1.2rem 1rem;
    color: white;
    outline: none;
    border-radius: 10px;
}

.addTask input::placeholder {
    color: white;
}

.btn_add {
    background-color: #f1c70ad0;
}

.btn_cancel {
    background-color: #f15f0ad0;
}