.task_single {
    background-color: bisque;
    border-radius: 1rem;
    padding: 1.3rem 1rem;
    box-shadow: 5px 5px 6px #888888;
    margin-bottom: 1rem;
}

.task_single_controls i {
    margin: 0 1rem;
}

.task__display {
    display: flex;
    justify-content: space-between;
}

.allOptions {
    margin-top: 40px;
}

.btn_save {
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

.btn_save:hover {
    transform: scale(1.1);
}