.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.taskTitle {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.control {
    margin-top: 2.5rem;
    background-color: rgb(255, 167, 35);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.control:hover {
    transform: scale(1.1);
}